.LogPanelBarContainer {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4375rem 0.875rem;
    border-bottom: var(--border-thickness) solid var(--color-border);

    & .BarLabel {
        flex: 1;
        font-family: var(--font-mono);
        font-size: 0.625rem;
        letter-spacing: 0.0625rem;
        text-transform: uppercase;
        color: var(--color-fg-tertiary);
    }

    & .SizeButton svg {
        width: 0.8125rem;
        height: 0.8125rem;
    }
}
