.SidebarFooterContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.8rem 0.5rem;
    border-top: var(--border-thickness) solid var(--color-border);
    flex-shrink: 0;
    transition: padding 180ms ease;

    &.Collapsed {
        justify-content: center;
    }
}
