.ContentSegmentContainer {
    flex: 1;
    padding: 2rem 2rem 5rem;
    max-width: 75rem;
    margin: 0 auto;
    width: 100%;
    overflow-y: auto;

    .Empty {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: var(--thirdy-fg-color);
        font-size: var(--font-size-base);
    }

    .Grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
        gap: var(--space-4);
    }
}

@media (width <= 45rem) {
    .ContentSegmentContainer {
        padding: 1.5rem 1.125rem 3.75rem;
    }
}
