.CredentialRowContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .KeyInput {
        flex: 1;
        min-width: 0;
    }

    .ValueInput {
        flex: 1;
        min-width: 0;
    }

    .RemoveBtn {
        flex-shrink: 0;
        padding: 0 0.5rem;
    }
}
