.WorkbenchTopbarContainer {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    flex-shrink: 0;
    padding: 0.85rem 1.4rem;
    background: var(--main-bg-color);
    border-bottom: var(--border-thickness) solid var(--color-border);

    @media (width <= 45rem) {
        padding: 0.85rem 1.125rem;
    }

    & .Spacer {
        flex-grow: calc(1 - var(--is-mobile));
    }
}
