.S3InstanceRowContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: var(--border-thickness) solid var(--color-border);

    &:first-child {
        border-top: var(--border-thickness) solid var(--color-border);
    }

    .RowActions {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        flex-shrink: 0;
    }
}
