ENVIRONMENT_ALLOWED_ORIGINS=
ENVIRONMENT_CREDS_ENCRYPTION_KEY=
ENVIRONMENT_GOOGLE_API_KEY=
ENVIRONMENT_GOOGLE_CLIENT_ID=
ENVIRONMENT_GOOGLE_CLIENT_SECRET=
ENVIRONMENT_LOG_FORMAT=TEXT
ENVIRONMENT_LOG_LEVEL=Info
ENVIRONMENT_NO_AUTH_ENABLED=false
ENVIRONMENT_OTEL_ENDPOINT=
ENVIRONMENT_SUBSCRIPTIONS_ENABLED=false
ENVIRONMENT_TELEGRAM_CLIENT_ID=
DATA_SOURCES_POSTGRES_MIGRATIONS_FOLDER=./migrations
DATA_SOURCES_POSTGRES_HOST=localhost
DATA_SOURCES_POSTGRES_PORT=5432
DATA_SOURCES_POSTGRES_USER=artel
DATA_SOURCES_POSTGRES_PWD=
DATA_SOURCES_POSTGRES_DB_NAME=artel
DATA_SOURCES_POSTGRES_SSL_MODE=
DATA_SOURCES_POSTGRES_SCHEMA=
DATA_SOURCES_POSTGRES_ADMIN_USER=
DATA_SOURCES_POSTGRES_ADMIN_PWD=
SERVERS_MASTER_PORT=80
