.WorkbenchToolbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem 0.75rem;
    position: sticky;
    top: 0;
    background: var(--main-bg-color);

    @media (width <= 45rem) {
        padding: 1rem 1.125rem 0.75rem;
    }

    & .LeftSection {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

    & .VaultName {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--color-fg-primary);
    }

    & .BackButton {
        width: var(--icon-button-size);
        height: var(--icon-button-size);
        padding: 0;
        color: var(--color-fg-secondary);

        &:hover {
            color: var(--color-fg-primary);
        }
    }
}
