.ChatComposerContainer {
    flex-shrink: 0;
    padding: 1rem 1.5rem 1.3rem;

    & .Composer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-width: var(--workbench-composer-width);
        margin: 0 auto;
        padding: 0.7rem 0.7rem 0.6rem 1rem;
        background: var(--color-bg-card);
        border: var(--border-thickness) solid var(--color-border-light);
        border-radius: var(--border-radius-lg);
    }

    & .InputRow {
        position: relative;

        & .Input {
            width: 100%;

            & textarea {
                padding-right: 2.75rem;
            }

            &.InputWide textarea {
                padding-right: 5.25rem;
            }
        }
    }
}
