.VaultCardQrContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;

    .QRPlaceholder {
        width: 7.5rem;
        height: 7.5rem;
        background: white;
        border-radius: 0.25rem;
    }
}
