:root { font-size: 16px; }

@media (width <= 480px)                          { :root { font-size: 14px; } }

@media (width >= 481px)  and (width <= 767px)  { :root { font-size: 16px; } }

@media (width >= 768px)  and (width <= 1023px) { :root { font-size: 18px; } }

@media (width >= 1024px) and (width <= 1439px) { :root { font-size: 20px; } }

@media (width >= 1440px) and (width <= 1919px) { :root { font-size: 22px; } }

@media (width >= 1920px)                         { :root { font-size: 24px; } }

@media (width >= 481px) and (height <= 520px) and (aspect-ratio >= 4/3) {
    :root { font-size: 12px; }
}

:root {
    --font-size-xs:   0.625rem;
    --font-size-sm:   0.6875rem;
    --font-size-md:   0.75rem;
    --font-size-base: 0.8125rem;
    --font-size-lg:   0.875rem;
    --font-size-xl:   0.9375rem;
    --font-size-2xl:  1rem;
    --font-size-3xl:  1.125rem;
    --border-radius-sm: 0.5rem;
    --border-radius-md: 0.875rem;
    --header-padding-x: 1.5rem;
    --header-logo-size: 1.875rem;
    --header-logo-gap:  0.625rem;
}

@media (width <= 1024px) and (aspect-ratio <= 1/1) {
    :root {}
}
