.TaskTrackerTableBodyContainer {
    & tr:not(:last-child) td {
        border-bottom: var(--border-thickness) solid var(--color-border);
    }

    & tr:hover td {
        background: var(--color-bg-hover);
    }

    & td {
        font-size: var(--font-size-md);
        color: var(--color-fg-primary);
        padding: 0.375rem 0.625rem;
        white-space: nowrap;
    }
}
