.ContentSegmentContainer {
    flex: 1;
    padding: 2rem 2rem 5rem;
    max-width: 75rem;
    margin: 0 auto;
    width: 100%;
    overflow-y: auto;

    & .List {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
    }

    & .Empty {
        color: var(--color-fg-tertiary);
        font-size: 0.875rem;
        padding: 2rem 0;
    }

    @media (width <= 45rem) {
        padding: 1.5rem 1.125rem 3.75rem;
    }
}
