.OptTextContainer {
    min-width: 0;

    & .OptName {
        font-size: 0.75rem;
        font-weight: 500;
        letter-spacing: -0.00375rem;
        color: var(--color-fg-primary);
    }

    & .OptFn {
        font-family: var(--font-mono);
        font-size: 0.625rem;
        color: var(--color-fg-tertiary);
        margin-top: 0.0625rem;
    }
}
